In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('finalTrain.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45584 entries, 0 to 45583
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           45584 non-null  object
 1   Delivery_person_ID           45584 non-null  object
 2   Delivery_person_Age          43730 non-null  float64
 3   Delivery_person_Ratings      43676 non-null  float64
 4   Restaurant_latitude          45584 non-null  float64
 5   Restaurant_longitude         45584 non-null  float64
 6   Delivery_location_latitude   45584 non-null  float64
 7   Delivery_location_longitude  45584 non-null  float64
 8   Order_Date                   45584 non-null  object
 9   Time_Orderd                  43853 non-null  object
 10  Time_Order_picked            45584 non-null  object
 11  Weather_conditions           44968 non-null  object
 12  Road_traffic_density         44983 non-null  object
 13  Vehicle_condition            45584 non-null  int64
 14  Type_of_order                45584 non-null  object
 15  Type_of_vehicle              45584 non-null  object
 16  multiple_deliveries          44591 non-null  float64
 17  Festival                     45356 non-null  object
 18  City                         44384 non-null  object
 19  Time_taken (min)             45584 non-null  int64
dtypes: float64(7), int64(2), object(11)
memory usage: 7.0+ MB

In [5]:
df.shape

(45584, 20)

In [6]:
numerical_col=df.columns[df.dtypes!='object']
catagorical_col=df.columns[df.dtypes=='object']

In [5]:
numerical_col

Index(['Delivery_person_Age', 'Delivery_person_Ratings', 'Restaurant_latitude',
       'Restaurant_longitude', 'Delivery_location_latitude',
       'Delivery_location_longitude', 'Vehicle_condition',
       'multiple_deliveries', 'Time_taken (min)'],
      dtype='object')

In [6]:
catagorical_col

Index(['ID', 'Delivery_person_ID', 'Order_Date', 'Time_Orderd',
       'Time_Order_picked', 'Weather_conditions', 'Road_traffic_density',
       'Type_of_order', 'Type_of_vehicle', 'Festival', 'City'],
      dtype='object')

In [4]:
df1=df.copy()

In [30]:

#df1['Time_Orderd_hour']=df['Time_Orderd'].str.split(':').str[0]

In [31]:
#df1['Time_Orderd_min']=df['Time_Orderd'].str.split(':').str[1]

In [32]:
#df1=df1.drop(labels=['Time_Orderd_hour','Time_Orderd_min'],axis=1)

In [19]:
df1['Time_Orderd']=df1["Time_Orderd"].str.replace(":",".")

In [20]:
df1['Time_Orderd']=df1['Time_Orderd'].astype('float')

In [5]:
df1['Time_Order_picked']=df1['Time_Order_picked'].str.replace(':','.')

In [6]:
df1['Time_Order_picked']

0           22.10
1           15.05
2           17.40
3           09.30
4           20.05
           ...
45579       11.45
45580       20.10
45581    24.05.00
45582       13.40
45583       17.15
Name: Time_Order_picked, Length: 45584, dtype: object

In [60]:
df1['Time_Order_picked']

0        24.05.00
1        24.05.00
2        24.05.00
3        24.05.00
4        24.05.00
           ...
45579    24.05.00
45580    24.05.00
45581    24.05.00
45582    24.05.00
45583    24.05.00
Name: Time_Order_picked, Length: 45584, dtype: object

In [7]:
string = "24.05.00"
second_dot_index = string.find('.', string.find('.') + 1)

if second_dot_index != -1:
    modified_string = string[:second_dot_index] + string[second_dot_index + 1:]
    print(modified_string)
else:
    print("The second dot is not present in the string.")

24.0500

In [11]:
for i in df1['Time_Order_picked']:
    string = i
    second_dot_index = string.find('.', string.find('.') + 1)

    if second_dot_index != -1:
        modified_string = string[:second_dot_index] + string[second_dot_index + 1:]
        df1['Time_Order_picked']=modified_string
    else:
        pass

In [13]:
df1['Time_Order_picked']=df1['Time_Order_picked'].astype('float32')

In [16]:
df1['Time_Order_picked'].dtype

dtype('float32')

In [8]:
df1['Time_Order_picked']

0           22:10
1           15:05
2           17:40
3           09:30
4           20:05
           ...
45579       11:45
45580       20:10
45581    24:05:00
45582       13:40
45583       17:15
Name: Time_Order_picked, Length: 45584, dtype: object

24
05.00

In [74]:
df1["Time_Order_picked"]

0           22.10
1           15.05
2           17.40
3           09.30
4           20.05
           ...
45579       11.45
45580       20.10
45581    24.05.00
45582       13.40
45583       17.15
Name: Time_Order_picked, Length: 45584, dtype: object

In [78]:
df1['Time_Order_picked']

0        10
1        05
2        40
3        30
4        05
         ..
45579    45
45580    10
45581    05
45582    40
45583    15
Name: Time_Order_picked, Length: 45584, dtype: object

In [36]:
#removing the second point
#df1['Time_Order_picked'].str[5].replace('.',"")

In [37]:
df1['Time_Order_picked']

0           22:10
1           15:05
2           17:40
3           09:30
4           20:05
           ...
45579       11:45
45580       20:10
45581    24:05:00
45582       13:40
45583       17:15
Name: Time_Order_picked, Length: 45584, dtype: object

In [38]:
df1['Time_Order_picked']

0           22:10
1           15:05
2           17:40
3           09:30
4           20:05
           ...
45579       11:45
45580       20:10
45581    24:05:00
45582       13:40
45583       17:15
Name: Time_Order_picked, Length: 45584, dtype: object

In [39]:
df1['Time_Order_picked'].index

RangeIndex(start=0, stop=45584, step=1)

In [40]:
df1['Time_Order_picked'].unique()

array(['22:10', '15:05', '17:40', '09:30', '20:05', '20:35', '15:10',
       '20:40', '20:50', '21:30', '20:25', '22:45', '08:30', '19:45',
       '12:30', '18:50', '23:30', '21:35', '23:45', '22:50', '22:40',
       '23:35', '13:40', '21:45', '19:10', '14:25', '11:10', '09:55',
       '08:55', '23:10', '17:30', '18:35', '19:50', '19:25',
       '0.458333333', '19:15', '16:55', '11:40', '15:15', '22:55',
       '22:25', '20:55', '23:05', '0.75', '0.958333333', '09:40', '20:20',
       '22:35', '0.916666667', '23:55', '15:40', '10:30', '0.875',
       '10:50', '16:05', '20:15', '12:15', '15:45', '22:15', '10:45',
       '15:30', '24:05:00', '21:25', '12:45', '21:15', '18:20', '18:25',
       '11:50', '12:50', '10:55', '21:40', '10:20', '17:55', '23:50',
       '12:55', '24:10:00', '10:40', '0.375', '20:45', '0.833333333',
       '23:15', '22:20', '21:05', '0.708333333', '24:15:00', '21:20',
       '14:35', '10:25', '09:05', '16:50', '08:40', '23:40', '21:50',
       '19:55', '0.625', '10:35', '09:25', '17:20', '19:30', '17:25',
       '20:10', '1', '17:35', '0.791666667', '19:05', '13:20', '17:50',
       '18:05', '19:20', '10:05', '09:10', '21:55', '19:40', '18:10',
       '09:50', '15:50', '18:30', '18:15', '16:15', '11:15', '21:10',
       '22:30', '15:20', '18:40', '23:20', '11:25', '13:55', '18:45',
       '22:05', '11:55', '18:55', '09:45', '17:15', '12:05', '0.5',
       '19:35', '08:25', '11:05', '15:35', '12:40', '12:25', '08:20',
       '23:25', '16:10', '13:45', '08:15', '08:45', '20:30',
       '0.541666667', '11:20', '08:50', '14:45', '17:45', '0.416666667',
       '08:35', '12:10', '11:35', '14:30', '10:15', '17:05', '10:10',
       '09:35', '11:30', '16:25', '09:15', '13:35', '15:55', '13:10',
       '13:05', '11:45', '16:20', '16:30', '16:45', '09:20', '13:25',
       '14:15', '14:05', '16:35', '16:40', '13:30', '14:40', '12:20',
       '13:50', '17:10', '15:25', '14:20', '12:35', '0.583333333',
       '14:10', '14:55', '13:15', '14:50', '0.666666667'], dtype=object)

In [41]:
df1=df1.drop(df1.index[45581])

In [42]:
df1.drop(labels=['ID'],axis=1)

,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min)
0,DEHRES17DEL01,36.0,4.2,30.327968,78.046106,30.397968,78.116106,12-02-2022,21.55,22:10,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46
1,KOCRES16DEL01,21.0,4.7,10.003064,76.307589,10.043064,76.347589,13-02-2022,14.55,15:05,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23
2,PUNERES13DEL03,23.0,4.7,18.562450,73.916619,18.652450,74.006619,04-03-2022,17.30,17:40,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21
3,LUDHRES15DEL02,34.0,4.3,30.899584,75.809346,30.919584,75.829346,13-02-2022,9.20,09:30,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20
4,KNPRES14DEL02,24.0,4.7,26.463504,80.372929,26.593504,80.502929,14-02-2022,19.50,20:05,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45578,RANCHIRES16DEL01,35.0,4.2,23.371292,85.327872,23.481292,85.437872,08-03-2022,21.45,21:55,Windy,Jam,2,Drinks,motorcycle,1.0,No,Metropolitian,33
45579,JAPRES04DEL01,30.0,4.8,26.902328,75.794257,26.912328,75.804257,24-03-2022,11.35,11:45,Windy,High,1,Meal,motorcycle,0.0,No,Metropolitian,32
45580,AGRRES16DEL01,21.0,4.6,0.000000,0.000000,0.070000,0.070000,16-02-2022,19.55,20:10,Windy,Jam,0,Buffet,motorcycle,1.0,No,Metropolitian,36
45582,COIMBRES11DEL01,20.0,4.7,11.001753,76.986241,11.041753,77.026241,07-03-2022,13.35,13:40,Cloudy,High,0,Snack,motorcycle,1.0,No,Metropolitian,26
45583,RANCHIRES09DEL02,23.0,4.9,23.351058,85.325731,23.431058,85.405731,02-03-2022,17.10,17:15,Fog,Medium,2,Snack,scooter,1.0,No,Metropolitian,36

In [43]:
df['Time_Orderd'].str.split(':').str[0]

0        21
1        14
2        17
3        09
4        19
         ..
45579    11
45580    19
45581    23
45582    13
45583    17
Name: Time_Orderd, Length: 45584, dtype: object

In [44]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45583 entries, 0 to 45583
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           45583 non-null  object
 1   Delivery_person_ID           45583 non-null  object
 2   Delivery_person_Age          43729 non-null  float64
 3   Delivery_person_Ratings      43675 non-null  float64
 4   Restaurant_latitude          45583 non-null  float64
 5   Restaurant_longitude         45583 non-null  float64
 6   Delivery_location_latitude   45583 non-null  float64
 7   Delivery_location_longitude  45583 non-null  float64
 8   Order_Date                   45583 non-null  object
 9   Time_Orderd                  43852 non-null  float64
 10  Time_Order_picked            45583 non-null  object
 11  Weather_conditions           44967 non-null  object
 12  Road_traffic_density         44982 non-null  object
 13  Vehicle_condition            45583 non-null  int64
 14  Type_of_order                45583 non-null  object
 15  Type_of_vehicle              45583 non-null  object
 16  multiple_deliveries          44590 non-null  float64
 17  Festival                     45355 non-null  object
 18  City                         44383 non-null  object
 19  Time_taken (min)             45583 non-null  int64
dtypes: float64(8), int64(2), object(10)
memory usage: 7.3+ MB