In [6]:
# importing libraries
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from sklearn import datasets

# Retrieving data
df=pd.read_csv('Iris.csv')

In [11]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [13]:
# Converting type of columns to category
df['Species'] = data['Species'].astype('category')

KeyError: 'Species'

In [ ]:
 #Assigning numerical values and storing it in another columns
data['Gen_new'] = data['Gender'].cat.codes
data['Rem_new'] = data['Remarks'].cat.codes


# Create an instance of One-hot-encoder
enc = OneHotEncoder()

# Passing encoded columns

enc_data = pd.DataFrame(enc.fit_transform(
	data[['Gen_new', 'Rem_new']]).toarray())

# Merge with main
New_df = data.join(enc_data)

print(New_df)

In [18]:
df.shape

(150, 6)

In [14]:
ohe=OneHotEncoder()

In [15]:
transform=ohe.fit_transform(df[['Species']])

In [19]:
print(transform.toarray().shape)

(150, 3)

In [21]:
df[ohe.categories_[0]]=transform.toarray()

In [22]:
df.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,Iris-setosa,Iris-versicolor,Iris-virginica
0,1,5.1,3.5,1.4,0.2,Iris-setosa,1.0,0.0,0.0
1,2,4.9,3.0,1.4,0.2,Iris-setosa,1.0,0.0,0.0
2,3,4.7,3.2,1.3,0.2,Iris-setosa,1.0,0.0,0.0
3,4,4.6,3.1,1.5,0.2,Iris-setosa,1.0,0.0,0.0
4,5,5.0,3.6,1.4,0.2,Iris-setosa,1.0,0.0,0.0

In [28]:
df1=pd.read_csv('finalTrain.csv')

In [29]:
df1.shape

(45584, 20)

In [ ]:
['Weather_conditions','Road_traffic_density','Type_of_order','Type_of_vehicle','Festival' ,'City']

In [30]:
#ohe using column tranformation
# Using make_column_transformer to One-Hot Encode
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer

import pandas as pd



transformer = make_column_transformer(
    (OneHotEncoder(), ['Weather_conditions','Road_traffic_density','Type_of_order','Type_of_vehicle','Festival' ,'City']),
    remainder='passthrough')

In [31]:
transformed = transformer.fit_transform(df1)
transformed_df = pd.DataFrame(
    transformed, columns=transformer.get_feature_names_out()
)

In [34]:
transformed_df.head()

,onehotencoder__Weather_conditions_Cloudy,onehotencoder__Weather_conditions_Fog,onehotencoder__Weather_conditions_Sandstorms,onehotencoder__Weather_conditions_Stormy,onehotencoder__Weather_conditions_Sunny,onehotencoder__Weather_conditions_Windy,onehotencoder__Weather_conditions_nan,onehotencoder__Road_traffic_density_High,onehotencoder__Road_traffic_density_Jam,onehotencoder__Road_traffic_density_Low,...,remainder__Restaurant_latitude,remainder__Restaurant_longitude,remainder__Delivery_location_latitude,remainder__Delivery_location_longitude,remainder__Order_Date,remainder__Time_Orderd,remainder__Time_Order_picked,remainder__Vehicle_condition,remainder__multiple_deliveries,remainder__Time_taken (min)
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,30.327968,78.046106,30.397968,78.116106,12-02-2022,21:55,22:10,2,3.0,46
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,10.003064,76.307589,10.043064,76.347589,13-02-2022,14:55,15:05,1,1.0,23
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,18.56245,73.916619,18.65245,74.006619,04-03-2022,17:30,17:40,1,1.0,21
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,30.899584,75.809346,30.919584,75.829346,13-02-2022,09:20,09:30,0,0.0,20
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,26.463504,80.372929,26.593504,80.502929,14-02-2022,19:50,20:05,1,1.0,41

In [33]:
transformed_df.shape

(45584, 41)